*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;   
}

/* styling the nav bar */
nav {
    width: 100%;
    height: 55px;
    background-color: rgb(185, 8, 8);
    display: flex;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    
}

.logo {
    width: 5%;
    border-radius: 15px;
   
}

ul{
    width: 50%;
    list-style-type: none;
    display: flex;
    gap: 8%;
    margin-left: 4%;
      
}

a{
    text-decoration: none;
    color: white;
}



a:hover {
    cursor: pointer;
    color: pink ;
}


.bar {
    width: 20%;
    height: 65%;
    border-radius: 20px;
    color: rgb(179, 0, 0);
    border: solid;
    border-color:#00003e;
}

.reg {
    margin-left: 10%;
}

.log {
    margin-left: 2%;
}
.become{
    width: auto;
    height:25% ;
    background-color: #00003e;
    overflow: hidden;
    padding: 17% 8px 17% 8px ;
    border-radius: 30%;
}


.first{
    width: 100%;
    height: 50px;
    background-color: rgb(223, 221, 221);
   
}

.first1 {
    
    width: 100%;
    height: 80px;
}


/* styling main image and text */


.main-img{
    width: 100%;
    height: 400px;
}


/* styling the main content of the donor profile*/

.cont {
    width: 70%;
    background-color: lightgray;
    margin-top: 5%;
    padding: 0.5%;
    border-radius: 20px;
    margin-bottom: 2%;
    padding-bottom: 2%;
}

/* styling the picture  */
.jean-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: justify;
    margin-top: 1%;
    background-color: rgb(233, 231, 231);
    border-radius: 50px;
    padding: 2%;
    width: 850px;
    
}

h1 {
    width: 100%;
      font-size: 25pt;
    align-items: center;
    color: #00003e;
}

.age {

    color: gray;
    font-size: x-large;
    margin-top: 2%;
    
}

.name-age{
    margin-top: 2%;
    margin-left: 115px;
    
}

/* styling the form details of the donor */

.mother {
    margin-top: 2%;
}

.mother-child{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.child {
    margin: 1%;
}

.child1 {

    width: 400px;
    height: 50px;
    border-radius: 20px;
    border: solid #00003e;
    padding-left: 3%;
}

#span {
    background-color: white;
    color: black;
}

.label{
    font-size: 15px;
}






















/* styling the bannerpic */
.banner {
    width: 100%;
    height: 300px;
}



/* styling the footer */

footer{
    width: 100%;
    height: 180px;
    background-color: rgb(180, 3, 3);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

h2{
    padding-bottom: 7%;
}

.email {
    width:75%;
    height: 36px;
    border-radius: 20px;
}

.subs {
    width:75%;
    height: 36px;
    margin-top: 5%;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background-color: #00003e;
    cursor: pointer;
    border: solid;
    border-color: #00003e;
}

label{
    font-size: small;
}

.foot2{
    width: 100%;
    height: 70px;
    background-color: rgb(180, 3, 3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
